body {
  background-color: #222;
  color: #fff;
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 5px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 30px;
}
